COMPOSE_PROJECT_NAME=openboots-inventree
INVENTREE_TAG=stable
INVENTREE_SITE_URL=http://localhost:8091
INVENTREE_WEB_PORT=8000
INVENTREE_EXT_VOLUME=./data/inventree
INVENTREE_LOG_LEVEL=WARNING
INVENTREE_PLUGINS_ENABLED=True
INVENTREE_AUTO_UPDATE=True
INVENTREE_ADMIN_USER=admin
INVENTREE_ADMIN_PASSWORD=change-me-local
INVENTREE_ADMIN_EMAIL=admin@localhost
INVENTREE_DB_ENGINE=postgresql
INVENTREE_DB_NAME=inventree
INVENTREE_DB_HOST=inventree-db
INVENTREE_DB_PORT=5432
INVENTREE_DB_USER=pguser
INVENTREE_DB_PASSWORD=change-me-local-db
INVENTREE_CACHE_ENABLED=True
INVENTREE_CACHE_HOST=inventree-cache
INVENTREE_CACHE_PORT=6379
INVENTREE_DEFAULT_CURRENCY=UAH
INVENTREE_CURRENCY_CODES=UAH,USD,EUR,GBP
INVENTREE_GUNICORN_TIMEOUT=90
